* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

/* nav bar/header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8EC;
    padding: 1% 2%;
}

.nav-links {
    display: flex;
    gap: 25px;
}

nav ul {
    margin-bottom: 0;
    list-style: none;
}

.logo {
    font-size: 1.5rem;
}

/* main heading and search */
.hero-main {
    justify-content: center;
    background-color: #546B41;
    height: 50vh;
    align-items: center;
}

.hero-inner {
    color: #fff;
    text-align: center;
    height: auto;
    padding: 10px 20px;
}

.hero-inner > h1 {
    font-size: 4rem;
}

.custom-btn {
    margin-top: 15px;
    background-color: #DCCCAC;
    border: none;
}


