* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* nav bar/header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 1% 2%;
}

.nav-links {
    display: flex;
    gap: 25px;
}

nav ul {
    margin-bottom: 0;
    list-style: none;
}

.logo {
    font-size: 1.5rem;
}

